<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/stylesheet1.css" />
    <script src="/javascripts/script3.js" ></script>

  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->

    <%- include('header'); %>

    <!--本文-->
    <div class="edit">
    <div class="container">          
      <div class="ctl">
        <h2>問答の新規作成</h2>
        <form action="/mypage/create" method="post">
          <div class="select">
            <div class="pulldown">
            <p>科目</p>
            <select name="subject" id="subject" onChange="updateCategory()">
              <option value="">選択してください</option>
              <option value="math"<% if (myselect === 'math') { %>selected<% } %>>数学</option>
              <option value="english"<% if (myselect === 'english') { %>selected<% } %>>英語</option>
              <option value="japanese"<% if (myselect === 'japanese') { %>selected<% } %>>国語</option>
              <option value="sostudy"<% if (myselect === 'sostudy') { %>selected<% } %>>社会</option>
              <option value="science"<% if (myselect === 'science') { %>selected<% } %>>理科</option>
              <option value="zatugaku"<% if (myselect === 'zatugaku') { %>selected<% } %>>雑学</option>
            </select>
            <h6><%= subjecterror %></h6>
           </div>
           <div class="pulldown">
              <p>区分</p>
              <select name="category" id="category" onChange="updateTangen()"></select>
              <h6><%= categoryerror %></h6>
            </div>
            <div class="pulldown">
              <p>単元</p>
              <select name="tangen" id="tangen"></select>
              <h6><%= tangenerror %></h>
            </div>
          </div>
              <p>問題</p>
              <input type="text" name="question" />
              <p>解答</p>
              <input type="text" name="answer" />
              <input type="submit" class="btn" value="作成する" />
          </li>
          <a href="/mypage">マイページへ戻る</a>
        </form>
      </div>
    </div>
</div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
