<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/stylesheet1.css" />
    <script src="/javascripts/script1.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->
    <%- include('header'); %>
    <!--本文-->
    <div class="container">
      <!--表示選択ゾーン-->
      <div class="container-header">
        <h1>マイページ</h1>
        <div class="setumei">
          <p>
            このページでは自由に問題を選んで印刷ができます。<br />
            自分で考えた問題を新規作成、編集、削除ができます。<br />
            My-MonDoをチェックして自分の問題だけを表示可能
          </p>
        </div>
        <div class="new"><a href="/mypage/create" class="btn btn-mid">新規作成</a></div>
        <div class="new-small"><a href="/mypage/create" class="btn-circle">＋</a></div>
      </div>
      <div class="selects">
        <form action="/mypage/reload" method="post">
          <div class="pulldown">
            <p>科目</p>
            <select name="subject" id="subject" onChange="updateCategory()">
              <option value="">選択してください</option>
              <option value="math"<% if (myselect === 'math') { %>selected<% } %>>数学</option>
              <option value="english"<% if (myselect === 'english') { %>selected<% } %>>英語</option>
              <option value="japanese"<% if (myselect === 'japanese') { %>selected<% } %>>国語</option>
              <option value="sostudy"<% if (myselect === 'sostudy') { %>selected<% } %>>社会</option>
              <option value="science"<% if (myselect === 'science') { %>selected<% } %>>理科</option>
              <option value="zatugaku"<% if (myselect === 'zatugaku') { %>selected<% } %>>雑学</option>
                          
            </select>
            <div class="error-message"><%= subjecterror %></div>
          </div>
          <div class="pulldown">
            <p>区分</p>
            <select name="category" id="category" onChange="updateTangen()">
              <option value="">選択してください</option>
            </select>
            <div class="error-message"><%= categoryerror %></div>
          </div>
          <div class="pulldown">
            <p>単元</p>
            <select name="tangen" id="tangen">
              <option value="">選択してください</option>
            </select>
            <div class="error-message"><%= tangenerror %></div>
          </div>
          <div class="pulldown pulldown-small">
            <h4>My-MonDo</h4>
            <div class="count">
              <label for="mymondo"><input type="checkbox" name="mymondo" id="mymondo" <% if (mymondo==="on"){ %>checked<% } %>/></label>
            </div>
            <div class="error-message"></div>
          </div>
          <div class="pulldown pulldown-small">
            <input type="submit" value="表示" class="btn-small" formaction="/mypage/reload" />
          </div>
        </form>
        <form action="/print/check" method="post" id="checkPrint">
          <div class="pulldown pulldown-small">
            <p>問題数</p>
            <div class="count">
              <select name="myquecount" id="quecount">
                <option value="5">5問</option>
                <option value="10">10問</option>
                <option value="15" selected>15問</option>
              </select>
            </div>
          </div>

          <div class="pulldown pulldown-small">
            <input type="hidden" name="subject" value="<%= tableName %>" />
            <input type="hidden" name="category" value="<%= category %>" />
            <input type="hidden" name="tangen" value="<%= tangen %>" />
            <input type="hidden" name="mymondo" value="<%= mymondo %>" />
            <input type="submit" class="btn-small" value="選択印刷" />
            <div class="error-message"><%=checkerror%></div>
          </div>
        </form>
      </div>

      <!--一覧表示ゾーン-->

      <div class="index-table-wrapper">
        <div class="table-head">
          <div class="checkbox-container">
            <label for="allCheckbox">全選択</label>
            <input type="checkbox" class="checkbox" id="allCheckbox" />
          </div>
          <span class="id-column">ID</span>
          <span class="question-column">問題</span>
          <span class="answer-column">解答</span>
          <span class="editor-column">作成者</span>
          <span class="date-column">更新日</span>
        </div>
        <ul class="table-body">
          <% lists.forEach((list) =>{ %>
          <li>
            <div class="table-data">
              <div class="checkbox-container">
                <input type="checkbox" class="checkbox" name="check" value="<%= list.id %>" form="checkPrint" />
              </div>
              <span class="id-column"><%= list.id %></span>
              <span class="question-column"><%= list.question %></span>
              <span class="answer-column"><%= list.answer %></span>
              <span class="editor-column"><%= list.editor %></span>
              <span class="date-column"><%= list.date %></span>
              <div class="list-menu">
                <form action="/mypage/delete/<%= list.id %>" method="post">
                  <input type="hidden" name="tableName" value="<%= tableName %>" />
                  <input type="hidden" name="category" value="<%= category %>" />
                  <input type="hidden" name="tangen" value="<%= tangen %>" />
                  <input type="hidden" name="id" value="<%= list.id %>" />
                  <% if (locals.username===list.editor) { %><input type="submit" value="削除" /><% } %>
                </form>
                <form action="/mypage/edit/<%= list.id %>" method="post">
                  <input type="hidden" name="tableName" value="<%= tableName %>" />
                  <input type="hidden" name="category" value="<%= category %>" />
                  <input type="hidden" name="tangen" value="<%= tangen %>" />
                  <input type="hidden" name="id" value="<%= list.id %>" />
                  <% if (locals.username===list.editor) { %><input type="submit" value="編集" /><% } %>
                </form>
              </div>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
